<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        tools:node="remove" />
    <uses-permission
        android:name="com.android.vending.BILLING"
        tools:node="remove" />

    <application>
        <service
            android:name=".presentation.BpmMunkzTileService"
            android:icon="@drawable/bpm_munkz_beat_machine_logo"
            tools:replace="android:icon" />
    </application>
</manifest>
